.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}
.react_container {  
  margin: 0;
  padding: 0;
}
img {
  margin: 10px;
}
p {
  margin: 5px;
}
button {
  padding: 4px;
}
img{
  height: 400px;
  width: 600px;
}
